{% extends 'base_ju.html.twig' %}

{% block title %}Hello ParticipantInterfaceController!{% endblock %}

{% block body %}

    <div class="container">

        <div class="col-12 d-flex justify-content-end mt-3 me-3">
            {% if app.user.hasRole('ROLE-ADMIN') %}
                <a href="{{ path('app_admin_interface') }}" class="btn btn-primary me-3">Back Office</a>
            {% endif %}
            <a href="{{ path('app_participant_interface') }}" class="btn btn-dark">Retour</a>
        </div>
        <h2 class="text-center my-5">This is a whiteboard</h2>

        <div class="col-6 offset-6">
            <div id="set">
                {% for dossier in dossiers %}
                {% for imgSat in imgsSat %}
                <div class="row">
                    <div class="ui-widget-content col-3">
                        <img src="{{ asset("imagesJu/map/" ~ imgSat.image) }}" alt="différents bout de la carte" class="{% if dossier.isActive == 0 %}hidden{% elseif dossier.isActive == 1%}show{% endif %}">
                        <p class="{% if dossier.isActive == 0  %}hidden{% elseif dossier.isActive == 1 %}show{% endif %}">{{ imgSat.id }}</p>
                    </div>
                </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>

        {# on click display all hidden elements #}
        <script>
            let toggle  = document.querySelector("#toggle");
            let hidden = document.querySelectorAll(".hidden");


            toggle.addEventListener("click", function() {
                console.log("ok");

                for (let i = 0; i < hidden.length; i++){
                    if (hidden[i].style.display === 'none') {
                        hidden[i].style.display = 'block';
                    } else {
                        hidden[i].style.display = 'none';
                    }
                }
            });

            function toggleImg(ti){
                var hidden = document.getElementsByClassName(hidden);
                for (let i = 0; i < hidden.length; i++){
                    var result = hidden[i].style;
                    result.display = result.display === 'none' ? 'block' : 'none';
                }
            }
            toggleImg('hidden');
        </script>

        </div>
{% endblock %}
