{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}



<h1 class="mb-5">Plan Assemblée Nationale</h1>
<div class="col-10 ms-5">
    <div class="an1">
        <div class="an1div1 text-white button" style="color:#fff">
            <button class="togg1">A6</button>
            <span class="target  ms-5 mt-1 hidden d1"></span>
        </div>
        <div class="an1div2 button">
            <button>Commission des lois</button>
            <span class="target ms-5 mt-1 hidden d1"></span>

        </div>
        <div class="an1div3 button">
            <button>Affaires culturelles</button>
            <span class="target ms-5 mt-1 hidden d1"></span>
        </div>
        <div class="an1div4 text-white button" style="color:#fff">

            <button>A8 & escalier +1</button>
            <span class="target ms-5 mt-1 hidden d1"></span>
        </div>
        <div class="an1div5 button">

            <button>Stock</button>
            <span class="target ms-5 mt-1 hidden d1"></span>

        </div>
        <div class="an1div6 button">

            <button>Stock</button>
            <span class="target ms-5 mt-1 hidden d1"></span>
        </div>
        <div class="an1div7 button">

            <button>Bibliothèque</button>
            <span class="target ms-5 mt-1 hidden d1"></span>
        </div>
        <div class="an1div8 text-white button" style="color:#fff">

            <button>A7</button>
            <span class="target ms-5 mt-1 hidden d1"></span>
        </div>
    </div>
</div>


{% endblock %}